/* [data-md-color-scheme='default'] {
    --md-primary-fg-color: #1d2941;
    --md-primary-fg-color--light: #ebba63;
    --md-primary-fg-color--dark: #ffa406;
} */

[data-md-color-scheme='slate'] {
    --md-primary-fg-color: #1d2941;
    --md-primary-fg-color--light: #ebba63;
    --md-primary-fg-color--dark: #ffa406;
}
